## Target Encoding

This is a technique of encoding or replacing cateogrical columns with numbers. Where each category has a unique number attached to it. Its just like the ordinary `label encoding` and `one-hot-encoding`, the only difference is that we use the target to create the encoding as well.

Due to this its also refered to as **supervised feature engineering technique.**

A target encoding is any kind of encoding that replaces a feature's categories with some number derived from the target[source](https://www.kaggle.com/ryanholbrook/target-encoding)

In [12]:
import numpy as np
import pandas as pd
import seaborn as sns

In [13]:
df = pd.read_csv("datasets/Automobile_data.csv")

In [14]:
df.head(2)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500

In [15]:
df['bore'] = pd.to_numeric(df['bore'], errors='coerce')
df['stroke'] = pd.to_numeric(df['stroke'], errors='coerce')
df['price'] = pd.to_numeric(df['price'], errors='coerce')
df['horsepower'] = pd.to_numeric(df['horsepower'], errors='coerce')
df['peak-rpm'] = pd.to_numeric(df['peak-rpm'], errors='coerce')

In [16]:
df.dropna(inplace = True)

In [17]:
df['make_encoded'] = df.groupby(['make'])['price'].transform('mean')

In [21]:
df[['make', 'price', 'make_encoded']].head()

          make    price  make_encoded
0  alfa-romero  13495.0  15498.333333
1  alfa-romero  16500.0  15498.333333
2  alfa-romero  16500.0  15498.333333
3         audi  13950.0  17859.166667
4         audi  17450.0  17859.166667

This type of encoding is called **mean encoding**, when applied to bin encoding it can be called one of the following names:

1. bin encoding
2. likelyhood encoding
3. impact encoding
4. leave-one-out encoding

## Smoothing

Mean encoding/bin encoding is problematic due to the following reasons:


- First when you have missing values in our dataset.

- **Rare categories**: When you have a category that is rare or has few occurences, any statistical calculations performed on it are likely to be inaccurate(not likely to be very accurate). Example take a dataset with only one occurance of a given category. Taking an aggregate of this will not give an actual representation of that category and the model will overfit and perform poorly when it encounters an similar data point with that very category. **Target encoding a rare categorical value will make the model overfit**

A common solution to this problem is to apply **Smoothing**. The aim of this is so that, rare categories get less weight on their category average, while missing categories just get the overall average.

`encoding = weight * in_category + (1 - weight) * overall`

`weight = n / (n + m)`

**Where:**

n = the total number of times the category has occured in the dataset.
m = smoothing factor, larger values of m put more weight on the overall estimate.


When choosing a value for m, consider how noisy you expect the categories to be. Does the price of a vehicle vary a great deal within each make? Would you need a lot of data to get good estimates? If so, it could be better to choose a larger value for m; if the average price for each make were relatively stable, a smaller value could be okay.[source](https://www.kaggle.com/ryanholbrook/target-encoding)

## Target encoding is great for

High-cardinality features: A feature with a large number of categories can be troublesome to encode: a one-hot encoding would generate too many features and alternatives, like a label encoding, might not be appropriate for that feature. A target encoding derives numbers for the categories using the feature's most important property: its relationship with the target.
Domain-motivated features: From prior experience, you might suspect that a categorical feature should be important even if it scored poorly with a feature metric. A target encoding can help reveal a feature's true informativeness.[source](https://www.kaggle.com/ryanholbrook/target-encoding)